.chat-main
  .header
    .left-box
      .left-box__current-group test
      %ul.member-list 
        member
        %li.member
          misa
        %li.member 
          misa
        %li.member  
    .right-box
      = link_to "#", class: "right-box" do
        .right-box__btn Edit
        
  .messages
    .message
      .message-info
        .message-info__name
          masa
        .message-info__date
          2020/2/11
      .content
        .content_details
          おはよう！ 
    .message              
      .message-info
        .message-info__name
          masa
        .message-info__date
          2020/2/11
      .content
        .content_details
          おはよう！
    .message      
      .message-info
        .message-info__name
          masa
        .message-info__date
          2020/2/11
      .content
        .content_details
          おはよう！
  .form
    %form.new-message
      .input-box
        %input.input-box__text{placeholder: "type a message", type: "text"}
        %label.input-box__image
          = icon('fas', 'image')
          %input.input-box__image__file{type: "file"}  
      %input.submit-btn{type: "submit", name: "commit", value: "send"}    




  